/**
Reacast - App 
marcosvca@gmail.com
Marcos V C Augusto
**/

/** Fontes **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;600&family=Roboto+Mono:wght@300;500;700&display=swap');

/** Root e Body **/

:root {
    --lightcolor: #e4e7fa;
    --lighter-color: #f4f4fc;
    --highligh-color: #3c3caf;
    --darkcolor: #292349;
    --darkest-color: #21212c;
    --animate-duration: 1500ms;
    --animate-delay: 2s;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
}

body {
    font-family: 'Roboto Mono', 'Noto Sans Mono', monospace;
    font-size: 1.6em;
    background-color: #aafab1;
    background-image: linear-gradient(135deg, #9177f9 0%, #ed8ac9 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/** Layout main **/

/** Root Wrapper **/

#root {
    display: grid;
    grid-template-rows: 1fr .1fr;
    gap: 15px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    justify-content: center;
    align-items: center;


}

/** Gerais **/
li {
    list-style-type: none;
}

a:link,
a:visited {
    color: var(--darkcolor);
    display: flex;
}

a:hover {
    opacity: .7;
}

.transparencia {
    opacity: .8;
}

.strong {
    font-weight: bolder;
}

/** Main App **/

.app-bloco {
    display: grid;
    margin: auto;
    justify-items: center;
    align-items: center;
    min-width: 380px;
    max-width: 400px;
    gap: 10px;
    padding: 15px;
    text-align: center;
    background-color: #b0a1e8;
    background-image: linear-gradient(152deg, #aff9aa 0%, #96fdce 100%);
    border-radius: 15px;
    box-shadow: 0px 40px 16px -20px rgb(0 0 0 / 25%), 10px 40px 16px -20px rgb(0 0 0 / 25%);
    border: solid 2px rgb(255 255 255 / 35%);
}

.app-main-title {
    font-size: 1rem;
}

.app-main {
    display: grid;
    align-items: center;
    justify-content: center;
}

/** App Logo **/

.icon-logo {
    display: flex;
    font-size: 3rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.app-logo {
    display: flex;
    align-items: center;
}

.app-name {
    display: flex;
    letter-spacing: -.1rem;
    font-weight: bold;
    text-transform: lowercase;

}

.sub-title {
    font-size: 1rem;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 15px;
}

.app-trends {
    display: flex;
    align-items: center;
    gap: 10px
}

.app-trends-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.app-trends-list li {
    display: flex;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
    border-radius: 50px;
}

.app-trends-list li:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.app-react-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/** Inputs **/

.app-input {
    background-color: var(--lighter-color);
    color: var(--darkcolor);
    font-family: 'Roboto Mono', 'Noto Sans Mono', monospace;
    font-size: 1.2rem;
    outline: none;
    border-radius: 15px 0 0 15px;
    border: solid 1px var(--lightcolor);
    margin-top: 25px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    margin-bottom: 10px
}

::-webkit-input-placeholder {
    /* Edge */
    font-size: .8rem;
    color: rgb(95, 95, 95);

}

:-ms-input-placeholder {
    font-size: .8rem;
    color: rgb(95, 95, 95);
}

::placeholder {
    font-size: .8rem;
    color: rgb(95, 95, 95);

}

.busca-btn {
    display: flex;
    align-items: center;
    background-color: var(--darkest-color);
    color: var(--lightcolor);
    font-size: 1rem;
    padding: 15px;
    height: 45px;
    width: 70px;
    border-radius: 0 15px 15px 0;
    justify-content: center;
    border: solid 1px var(--darkest-color);
}

.busca-btn:hover {
    opacity: .7;
    cursor: pointer;
}

/** App Return **/
.app-return-wrapper {
    display: grid;
    min-width: 320px;
}

.app-return-weather {
    font-size: 4rem;
    letter-spacing: -.5rem;
}

#temp {
    font-size: 2.1rem;
    margin-left: -.1rem;
}

.app-return-text {
    font-size: 1.6rem;
}

.app-return-city {
    font-size: 1.2rem;
    font-weight: bold;
}

.app-return-thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.app-feedback {
    display: flex;
    font-size: .9rem;
    font-weight: bolder;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.app-new-search {
    display: none;
    font-size: 2rem;

}

.app-result {
    display: flex;
}

.app-error-handler {
    display: flex;
    font-size: .9rem;
}

.app-finder-wrapper {
    display: grid;
}

.app-finder-map {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 15px;

}

.app-finder-title {
    font-size: .9rem;
    padding: 7px;
}

/** Icones, botões e etc **/

#thumbs-up,
#thumbs-down,
#clear-app,
#map-search-icon {
    cursor: pointer;
    border-radius: 100%;
    padding: 15px;
}

#map-search-icon:hover,
#thumbs-up:hover,
#thumbs-down:hover,
#clear-app:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

/** Footer **/
footer {
    display: grid;
    justify-content: center;
    align-content: flex-end;
    font-size: 1.1rem;
    color: var(--darkcolor);
}

.footer-info {
    display: flex;
    align-items: center;
    gap: 15px;

}

/** Manipulation Handler **/

.hiddenApp {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}

#show {
    display: flex;
}

#hidden {
    display: none;
}

/** Error Handle **/
.class-error {
    background-image: linear-gradient(156deg, #ff46b6 0%, #ffa1a1 100%) !important;
}