/**
marcosvca@gmail.com
Marcos V C Augusto
**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;600&display=swap');

:root {
    --lightcolor: #e4e7fa;
    --lighter-color: #f4f4fc;
    --highligh-color: #3c3caf;
    --darkcolor: #292349;
    --darkest-color: #21212c;
    --animate-duration: 1500ms;
    --animate-delay: 2s;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
}

body {
    background-color: #b3e7e9;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.6em;
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: hidden;
}

.app-bloco {
    display: grid;
    padding: 15px;
    grid-template-rows: .8fr .6fr 1fr;
    justify-items: center;
    min-width: 480px;
    max-width: 520px;
    height: 90vh;
    gap: 10px;
    margin: auto;
    text-align: center;
    background-color: #efefef;
    background-image: linear-gradient(152deg, #91dbff 0%, #eefcc3 100%);
    border-radius: 15px;
    box-shadow: 0px 40px 16px -20px rgb(0 0 0 / 25%), 10px 40px 16px -20px rgb(0 0 0 / 25%);
    border: solid 1px rgb(255 255 255 / 70%);
    border-top: solid 7px rgb(255 255 255 / 70%);
}

.transparencia {
    opacity: .9;
}

.strong {
    font-weight: bolder;
}

.icon-logo {
    display: flex;
    font-size: 6rem;
    padding: 15px;
}

.app-name {
    display: flex;
    letter-spacing: -.1rem;
    font-size: 2.2rem;
}

.sub-title {
    font-size: .9rem;
    display: flex;
    margin-top: 5px;
    align-items: baseline;
    gap: 10px;
}

.app-react-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.app-input {
    background-color: var(--lighter-color);
    color: var(--darkcolor);
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.4rem;
    outline: none;
    border-radius: 15px 0 0 15px;
    border: solid 1px var(--lightcolor);
    margin-top: 25px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    display: flex;
}

.busca-btn {
    display: flex;
    align-items: center;
    background-color: var(--darkest-color);
    color: var(--lightcolor);
    font-size: 1rem;
    padding: 15px;
    height: 45px;
    width: 70px;
    border-radius: 0 15px 15px 0;
    justify-content: center;
    border: solid 1px var(--darkest-color);
}

.busca-btn:hover {
    opacity: .7;
    cursor: pointer;
}

.app-return-wrapper {
    display: grid;
}

.app-return-weather {
    font-size: 4rem;
    letter-spacing: -.5rem;
}

#temp {
    font-size: 2.1rem;
    margin-left: -.1rem;
}

.app-return-text {
    font-size: 1.6rem;
}

.app-return-city {
    font-size: 1.2rem;
}

.app-return-thumbs {
    display: flex;
    align-items: baseline;
    justify-content: center;

    gap: 15px;
}

.app-feedback {
    display: flex;
    font-size: .9rem;
    font-weight: bolder;
    margin-top: 60px;
    padding: 15px;
    align-items: baseline;
    justify-content: center;
}